@{
    ViewBag.Title = "Confirm Email";
}

<div class="mdl-card mdl-card__small-form mdl-shadow--2dp">
    <div class="mdl-card__title">
        <div class="mdl-card__title-text">
            @ViewBag.Title
        </div>
    </div>
    <div class="mdl-card__supporting-text">
        <p>
            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
