@{
    ViewBag.Title = "Account created - Please confirm email address";
}
<h2>@ViewBag.Title.</h2>
<p>
    Please check your email and confirm your email address.
</p>
<p><strong>NOTE: </strong>This application is deployed on a test server, and email notifications do not originate from a valid domain. This might cause Outlook (or other email clients) to mistakenly flag the message as 'Junk E-mail'. Please check your Spam/Junk email folder if you do not receive your confirmation email right away. You will need to drag the message in to your normal Inbox in order to activate the links in the email.</p>
@*<p class="text-danger">
    For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    Please change this code to register an email service in IdentityConfig to send an email.
</p>*@
