@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset, and a confirmation email has been sent. Please check your email for instructions on completing the password reset process.
    </p>
</div>

