/* Set width on the form input elements since they're 100% wide by default */
.input-group,
input,
select,
textarea {
    max-width: 280px;
}

select {
    font-size: 18px;
        color: rgba(0, 0, 0, 0.54);
}

.form-group {
    border: 1px solid rgba(0, 0, 0, 0.33);
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.mdl-textfield__error {
    visibility: visible;
}

