/*========================
    MDL Layout
========================*/

/*  -----Header-----  */

.no-flexbox .mdl-layout,
.no-flexbox .mdl-layout__header,
.no-flexbox .mdl-layout__header-row {
    display: block;
}

.no-flexbox .mdl-layout-title,
.no-flexbox .mdl-layout-spacer {
    display: inline;
    line-height: 2.1em;
}

.no-flexbox .mdl-layout__header {
    position: fixed;
}

.no-flexbox .mdl-navigation {
    float: right;
    padding-top: 6px
}

.no-flexbox #user-menu {
    display: none;
}

/*  -----Main-----  */

.no-flexbox .mdl-layout__content {
    display: block;
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
}

/*  -----Grid/Cells----- */

.no-flexbox .mdl-grid {
    display: -webkit-box;
}


/*  -----Cards----- */

.no-flexbox .mdl-card__title {
    position: relative;
}

.no-flexbox .mdl-card__title-text {
    position: absolute;
    bottom: 0;
}

/*  -----Media Transforms----- */
@media screen and (max-width: 959px) {
}


/*========================
    Home Page
========================*/

/* this works because .mdl-layout__content is set to position: absolute */
.no-flexbox .parallax__viewport, .no-flexbox .honeyContentBlock {
    min-height: 100%;
}



/*========================
    General Legacy Support (not affiliated with Modernizr)
========================*/

/*.mdl-layout__drawer {
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;

    -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

.mdl-layout__drawer.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}*/

