/*========================
    MDL Layout
========================*/

/*  -----Header-----  */

.no-flexbox .mdl-layout,
.no-flexbox .mdl-layout__header,
.no-flexbox .mdl-layout__header-row {
    display: block;
}

.no-flexbox .mdl-layout-title,
.no-flexbox .mdl-layout-spacer {
    display: inline;
    line-height: 2.1em;
}

.no-flexbox .mdl-layout__header {
    position: fixed;
}

.no-flexbox .mdl-navigation {
    float: right;
    padding-top: 6px
}

.no-flexbox #user-menu {
    display: none;
}

/*  -----Main-----  */

.no-flexbox .mdl-layout__content {
    display: block;
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
}

/*  -----Grid/Cells----- */

.no-flexbox .mdl-grid {
    display: -webkit-box;
}


/*  -----Cards----- */

.no-flexbox .mdl-card__title {
    position: relative;
}

.no-flexbox .mdl-card__title-text {
    position: absolute;
    bottom: 0;
}

/*  -----Media Transforms----- */
@media screen and (max-width: 959px) {
    .no-flexbox .mdl-layout__content {
        top: 56px;
    }
}

@media screen and (max-width: 959px) and (min-width: 480px) {
    .no-flexbox .mdl-grid-accommodations {
        display: block;
    }

    .no-flexbox .accommodationsFlexContainer {
        display: -webkit-box;
    }

    .no-flexbox .mdl-card__accommodation-detail .mdl-card__title {
        display: -webkit-box;
    }

    .no-flexbox .mdl-card__accommodation-detail .mdl-card__supporting-text {
        /*width: 60%;
        height: 100%;*/
    }
}

@media screen and (max-width: 479px) {
    .no-flexbox .accommodationsFlexContainer {
        /*display: -webkit-box;*/
    }

    .no-flexbox .mdl-card__accommodation-detail .mdl-card__title {
    }

    .no-flexbox .mdl-card__accommodation-detail .mdl-card__supporting-text {
    }
}

@media screen and (max-height: 479px) {
    .no-flexbox .mdl-card__accommodation-detail .mdl-card__title {
    }

    .no-flexbox .mdl-card__accommodation-detail .mdl-card__supporting-text {
    }
}


/*========================
    Home Page
========================*/

/* this works because .mdl-layout__content is set to position: absolute */
.no-flexbox .parallax__viewport, .no-flexbox .honeyContentBlock {
    min-height: 100%;
}
