/* =======================================
    Global look and feel
   ======================================= */

/* Hide certain elements until mdl has done its upgrade (prevents content flash on small screens) */
.obscure-on-load {
    display: none;
}

/* container for basic pages */
.content-wrapper {
    margin-top: 40px;
}

/* ----Grid---- */
.mdl-grid {
    max-width: 1008px;
}

/* ----Top Navbar---- */
.mdl-layout__header {
    /* Argyle BG Pattern */
    background-image: repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 31px), 
        repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 31px), 
        linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)), 
        linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 35px 64px;
}

.mdl-layout__header-row {
    padding: 0 20px 0 20px;
}


/* -----Typography----- */
.mdl-navigation, .mdl-layout-title, .honeyContentBlock__title, .mdl-card__title-text {
    font-family: 'Sue Ellen Francisco', cursive;
}

.mdl-layout-title {
    text-transform: uppercase;
    font-size: 28px;
}

    .mdl-layout-title a {
        color: rgba(255,255,255,0.87);
        text-decoration: none;
    }

p {
    line-height: 20px;
}

/* ----Nav Tabs---- */
.mdl-layout__tab {
    font-size: 18px;
    padding: 0 12px 0 12px;
}

a.mdl-layout__tab:hover {
    color: rgba(255,255,255,0.87);
}

.mdl-navigation__link {
    text-transform: uppercase;
    font-size: 20px;
}

/* ----Card Styling----*/
.mdl-card {
    opacity: 0.97;
    width: auto;
}

.mdl-card__page {
    width: auto;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.mdl-card__small-form {
    width: auto;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.mdl-card__title-text {
    text-transform: uppercase;
}

.mdl-card__title {
    padding: 8px 16px 8px 16px;
}

/* Table Styling */
.mdl-data-table {
    width: 100%;
    white-space: normal;
}

.mdl-data-table-condensed th {
    height: auto;
    padding: 4px;
}

.mdl-data-table-condensed td {
    height: auto;
    padding: 4px;
}

.mdl-data-table-condensed tbody tr {
    height: auto;
}

.mdl-data-table-condensed tbody tr.booked-room td {
    background: rgba(255,0,0,0.2);
    opacity: 0.7;
}

.mdl-data-table__column-sort-icon {
    vertical-align: bottom;
}


/* Table-based styling for Definition Lists*/
/* -----------Hacky! need better solution------------- */
.table-list {
    margin-top: 16px;
}

.table-list td {
    vertical-align: bottom;
    padding-bottom: 10px;
}

.table-list--term {
    font-weight: 700;
    float: right;
    text-align: right;
    margin-right: 10px;
    width: 100px;
}

.table-list--term:after {
    content: ":";
}


/* mdl List Styling (used for phone) */
.mdl-list__item-header {
    display: block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Accordion Styling (phone only) */
.accordion-toggle {
    cursor: pointer;
}

.accordion-content {
    display: none;
}

    .accordion-content.default {
        display: block;
    }


/* Star Rating System */
.star-rating i {
    font-size: 18px;
    letter-spacing: -8px;
}



/* ============================================
    Media Transforms
    =========================================== */

@media screen and (max-width: 959px) {
    .mdl-layout-title {
        font-size: 22px;
    }

    .mdl-layout__header, .mdl-layout__drawer {
        background-image: repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 29px), repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 29px), linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)), linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
        background-size: 35px 56px;
    }

    .mdl-layout__header-row {
        padding: 0 40px 0 72px;
    }

}
