.table__fixed-headers {
    /*width: 500px;*/
    table-layout: fixed;
    border-collapse: collapse;
}

    .table__fixed-headers th {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .table__fixed-headers td {
        border-top: none;
    }

        .table__fixed-headers td,
        .table__fixed-headers th {
            padding-left: 12px;
            padding-right: 12px;
        }

        /*.table__fixed-headers td:first-of-type,
        .table__fixed-headers th:first-of-type {
            padding-left:
        }*/


        .table__fixed-headers td:first-of-type {
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        /*.table__fixed-headers td:nth-of-type(2),
        .table__fixed-headers th:nth-of-type(2) {
            width: 85px;
        }

        .table__fixed-headers td:nth-of-type(3),
        .table__fixed-headers th:nth-of-type(3) {
            width: 95px;
        }

        .table__fixed-headers td:nth-of-type(4),
        .table__fixed-headers th:nth-of-type(4) {
            width: 95px;
        }

        .table__fixed-headers td:nth-of-type(5),
        .table__fixed-headers th:nth-of-type(5) {
            width: 120px;
        }*/

    .table__fixed-headers thead {
        /*background-color: #333333;
        color: #fdfdfd;*/
    }

        .table__fixed-headers thead tr {
            display: block;
            position: relative;
        }

    .table__fixed-headers tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 400px;
    }

        .table__fixed-headers tbody tr:nth-child(even) {
            /*background-color: #dddddd;*/
        }
