@model bool?

@if (Model.HasValue)
{
    if (Model.Value)
    { <span class="mdl-color-text--green-400">Yes</span> }
    else
    { <span class="mdl-color-text--red-400">No</span> }
}
else
{ <span>Unknown</span> }
