<div class="accommodationsFlexContainer">
    <div class="mdl-card__title" id="detail_title" style="background: url('../../Content/img/staying_there.jpg') center; background-size: cover;">
        <p class="mdl-card__title-text">Staying There</p>
    </div>

    <div class="mdl-card__supporting-text" id="detail_text">
        <h5 class="mdl-color-text--primary">Accommodations in the Fair Play Area</h5>
        <p>
            We love Fair Play, but it's a small town, and the accommodations are limited. So we've tried to do the homework for you!
        </p>
        <p>
            The following table lists all of the options that we were able to locate in the Fair Play area, as well as a few motels in the towns of Placerville and Camino (about a 30-minute drive).
            <span class="largeScreenText">You can sort by price, distance from the venue, etc. </span>Click on a row to view the details for that location. A link is provided to each location's website.
        </p>
        <p>
            <strong>PLEASE NOTE: </strong>Most of the accommodations in the Fair Play area are small, family-run operations.
            In order to secure their availability we have contacted the owners, and in some cases we have put down deposits, so we'll need your help in coordinating this effort.
            Please read the 'Notes' under each accommodation for special instructions. Thanks!
        </p>
        <p>
            -The Honeys
        </p>
    </div>
</div>

<div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-js-button mdl-button--raised" href="https://www.google.com/maps/place/Fair+Play,+CA" target="_blank">
        View Map of Fair Play
    </a>
</div>
