@{
    ViewBag.Title = "Staying There";
    ViewBag.NoContentWrapper = true;
    //Layout = "~/views/shared/_layoutBlank.cshtml";

}

@section headLevel {
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        .mdl-card__accommodation-list .mdl-card__title {
            color: #fff;
            height: 75px;
            background: url('../../Content/img/honeys_on_couch.jpg') center / cover;
        }

        .mdl-card__accommodation-detail .mdl-card__title {
            color: #fff;
            height: 200px;
        }

        .mdl-card__accommodation-detail .mdl-card__supporting-text {
            overflow-y: auto;
            height: -webit-calc(100% - 200px);
            height: -moz-calc(100% - 200px);
            height: calc(100% - 200px);
        }

        .mdl-card__accommodation-detail .mdl-card__actions {
            height: 55px;
        }

        .accommodationsFlexContainer {
            display: flex;
            flex-direction: column;
            height: -webit-calc(100% - 55px);
            height: -moz-calc(100% - 55px);
            height: calc(100% - 55px);
        }

        .mdl-card__accommodation-detail h5 {
            margin-top: 0;
        }

        .phoneText {
            display: none;
        }

        .mdl-list-card {
            z-index: 1;
            background: white;
            border-radius: 2px;
            box-sizing: border-box;
            opacity: 0.9;
            margin-bottom: 8px;
            padding: 0;
        }


        @@media screen and (max-width: 959px) and (min-width: 480px) {
            .accommodationsFlexContainer {
                flex-direction: row;
                height: -webit-calc(100% - 55px);
                height: -moz-calc(100% - 55px);
                height: calc(100% - 55px);
            }

            .mdl-card__accommodation-detail .mdl-card__title {
                width: 40%;
                height: 100%;
            }

            .mdl-card__accommodation-detail .mdl-card__supporting-text {
                width: 60%;
                height: 100%;
            }
        }

        @@media screen and (max-width: 479px) {
            .accommodationsFlexContainer {
                flex-direction: column;
                height: -webit-calc(100% - 55px);
                height: -moz-calc(100% - 55px);
                height: calc(100% - 55px);
            }

            .mdl-card__accommodation-detail .mdl-card__title {
                height: 100px;
            }

            .mdl-card__accommodation-detail .mdl-card__supporting-text {
                overflow-y: auto;
                height: -webit-calc(100% - 100px);
                height: -moz-calc(100% - 100px);
                height: calc(100% - 100px);
            }

            .phoneText {
                display: normal;
            }

            .largeScreenText {
                display: none;
            }
        }

        @@media screen and (max-height: 479px) {
            .mdl-card__accommodation-detail .mdl-card__title {
                height: 100px;
            }

            .mdl-card__accommodation-detail .mdl-card__supporting-text {
                overflow-y: auto;
                height: -webit-calc(100% - 100px);
                height: -moz-calc(100% - 100px);
                height: calc(100% - 100px);
            }
        }
    </style>
}

<div class="mdl-grid">

    <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card mdl-card__accommodation-detail mdl-shadow--2dp" id="card__accommodation-detail">
            <!--Accommodation Location Detail content-->
        </div>
    </div>

    <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--8-col-tablet mdl-cell--hide-phone" id="cell__accommodations-list">
        <div class="mdl-card mdl-card__accommodation-list mdl-shadow--2dp" id="card__accommodations-list">
            <!--AccommodationsList content-->
        </div>
    </div>

</div>

<div id="accommodationsAccordion" class="mdl-grid mdl-cell--hide-desktop mdl-cell--hide-tablet">
    <!--AccommodationsAccordion content-->
</div>


@section scripts {
    <script type="text/javascript">

        var accommodationDetailUrl = '@Url.Action("AccommodationDetail")';
        var accommodationDetail = $('#card__accommodation-detail');
        var accommodationsListUrl = '@Url.Action("AccommodationsList")';
        var accommodationsList = $('#card__accommodations-list');
        var accommodationsAccordionUrl = '@Url.Action("AccommodationsAccordion")';
        var accommodationsAccordion = $('#accommodationsAccordion');
        var accommodationsMode;

        function upgradeTooltips() {
            var counter = 0;
            $('.mdl-tooltip').each(function () {
                var t = $(this)[counter];
                componentHandler.upgradeElement(t);
                counter++;
            })
        }

        function addAccordionClickListeners() {
            // phone - add event listener for accordion clicks
            $('#accommodationsAccordion').find('.accordion-toggle').click(function () {

                //Expand or collapse this panel
                $(this).next().slideToggle('fast');

                //Hide the other panels
                $(".accordion-content").not($(this).next()).slideUp('fast');

            });
            accordionClickListeners = true;
        }

        function addSpinner(targetId, pageLoad) {
            // create spinner for data-loading
            var spinner = document.createElement('div');
            spinner.className = 'mdl-spinner mdl-js-spinner is-active';
            spinner.style.margin = 'auto auto';
            if (!pageLoad) // no upgrade needed on page load, mdl will upgrade automatically
            {
                componentHandler.upgradeElement(spinner);
            }
            document.getElementById(targetId).appendChild(spinner);
        }

        function loadAccommodationDetail(accommodationId, pageLoad) {
            // clear html from target div
            accommodationDetail.html('');

            addSpinner('card__accommodation-detail', pageLoad);

            // ajax call
            accommodationDetail.load(accommodationDetailUrl, { id: accommodationId }, function () {
                if (!pageLoad)
                {
                    componentHandler.upgradeDom();
                }
            });
        }

        function loadAccommodationsList(sort, pageLoad) {
            // clear html from target div
            accommodationsList.html('');

            addSpinner('card__accommodations-list', pageLoad);

            // ajax call
            accommodationsList.load(accommodationsListUrl, { sortOrder: sort }, function () {
                // callback
                calcDimensions();
            });
        }

        function loadAccommodationsAccordion(sort, pageLoad) {
            // clear html from target div
            accommodationsAccordion.html('');

            addSpinner('accommodationsAccordion', pageLoad);

            // ajax call
            accommodationsAccordion.load(accommodationsAccordionUrl, { sortOrder: null }, function () {
                // callback
                addAccordionClickListeners();
                calcDimensions();
            });
        }

        function setMode() {
            var winWidth = $(window).width();

            if (winWidth >= 960) {
                if (accommodationsMode != 'list') {
                    loadAccommodationsList('');
                    accommodationsMode = 'list';
                }
            }
            else if (winWidth >= 480 && winWidth < 960) {
                if (accommodationsMode != 'list') {
                    loadAccommodationsList('');
                    accommodationsMode = 'list';
                }
            }
            else {
                if (accommodationsMode != 'accordion') {
                    loadAccommodationsAccordion('');
                    accommodationsMode = 'accordion';
                }
            }
        }


        function calcDimensions() {
            var winWidth = $(window).width();
            var listTitleHeight = $('.mdl-card__accommodation-list > .mdl-card__title').outerHeight();
            var mainHeight = $(window).height() - $('#headerRow').height(); //  minus padding
            var accommodationsListWidth = $('#cell__accommodations-list').width();

            // set widths for scrollable table
            $('#table__accommodations-list').css({ 'width': accommodationsListWidth - 32 });
            $('.table__fixed-headers td, .table__fixed-headers th').css({ 'width': ((accommodationsListWidth - 32 - 2) / 4) });

            if (winWidth >= 960) {
                // set card heights
                $('#card__accommodations-list, #card__accommodation-detail').css({ 'height': mainHeight - 32 });

                // set tbody height for scrollable table
                var tbodyHeight = mainHeight - 32 - 32 - listTitleHeight - 50; // minus screen padding, card padding, card__title height, thead height
                if (tbodyHeight < 50) // minimum height of 50px to maintain scrollability and proportion to <thead>
                {
                    tbodyHeight = 50;
                }
                $('#tableBody').css({ 'height': tbodyHeight });
            }
            else if (winWidth >= 480 && winWidth < 960) {
                // set card heights
                var cardHeight = (mainHeight - 48) / 2;
                $('#card__accommodations-list, #card__accommodation-detail').css({ 'height': cardHeight });

                // set tbody height for scrollable table
                var tbodyHeight = cardHeight - 32 - listTitleHeight - 50; // minus card padding, card__title height, thead height
                if (tbodyHeight < 50) // minimum height of 50px to maintain scrollability and proportion to thead
                {
                    tbodyHeight = 50;
                }
                $('#tableBody').css({ 'height': tbodyHeight });
            }
            else {
                // set card height
                var cardHeight = 100 + $('.accommodationsFlexContainer .mdl-card__supporting-text').prop('scrollHeight') + 55;
                $('#card__accommodation-detail').css({ 'height': cardHeight });

                // load Accommodation Welcome (id = 0) in case landscape mode allowed for loading of _AccommodationDetail partial
                loadAccommodationDetail(0);
            }
        }

    </script>
}

<script>
@section scriptWindowLoad {
    // calculate dimensions of scrollable tables
    calcDimensions();
    setMode();

    // load Accommodation Welcome (id = 0)
    loadAccommodationDetail(0, true);

    $(window).resize(function () {
        calcDimensions();
        setMode();
    });
}
</script>