@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>Contact</h2>
    <p></p>
</hgroup>
<div>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Email Support:</strong>   <a href="mailto:rcook@admin.nv.gov?subject=HoneyWedding Support">rcook@admin.nv.gov</a><br />
    </address>
</div>