
@{
    ViewBag.Title = "The Honeys' Wedding!";
    ViewBag.NoContentWrapper = true;
    //Layout = "~/views/shared/_layoutBlank.cshtml";
}

@section headLevel {
    @Styles.Render("~/Content/parallax.css")
    @Styles.Render("~/Content/slick/slick.css")
    @Styles.Render("~/Content/slick/slick-theme.css")
    <style>
        main {
            background: url('../../Content/img/honeys_on_couch.jpg') center;
            background-size: cover;
        }

        .parallax__viewport, .honeyContentBlock {
            min-height: calc(100vh - 64px);
            box-sizing: border-box;
        }

        .honeyContentBlock {
            padding: 16px;
            /*box-shadow: rgba(0,0,0,0.2) 5px 5px 5px;*/
            /* -----rainbow bg pattern----- */
            /*background-color: rgb(62, 39, 35);
            background-image: radial-gradient(circle at 100% 150%, rgb(62, 39, 35) 24%, rgb(50, 30, 30) 25%, rgb(50, 30, 30) 28%, rgb(62, 39, 35) 29%, rgb(62, 39, 35) 36%, rgb(50, 30, 30) 36%, rgb(50, 30, 30) 40%, transparent 40%, transparent),
                radial-gradient(circle at 0 150%, rgb(62, 39, 35) 24%, rgb(50, 30, 30) 25%, rgb(50, 30, 30) 28%, rgb(62, 39, 35) 29%, rgb(62, 39, 35) 36%, rgb(50, 30, 30) 36%, rgb(50, 30, 30) 40%, transparent 40%, transparent),
                radial-gradient(circle at 50% 100%, rgb(50, 30, 30) 10%, rgb(62, 39, 35) 11%, rgb(62, 39, 35) 23%, rgb(50, 30, 30) 24%, rgb(50, 30, 30) 30%, rgb(62, 39, 35) 31%, rgb(62, 39, 35) 43%, rgb(50, 30, 30) 44%, rgb(50, 30, 30) 50%, rgb(62, 39, 35) 51%, rgb(62, 39, 35) 63%, rgb(50, 30, 30) 64%, rgb(50, 30, 30) 71%, transparent 71%, transparent),
                radial-gradient(circle at 100% 50%, rgb(50, 30, 30) 5%, rgb(62, 39, 35) 6%, rgb(62, 39, 35) 15%, rgb(50, 30, 30) 16%, rgb(50, 30, 30) 20%, rgb(62, 39, 35) 21%, rgb(62, 39, 35) 30%, rgb(50, 30, 30) 31%, rgb(50, 30, 30) 35%, rgb(62, 39, 35) 36%, rgb(62, 39, 35) 45%, rgb(50, 30, 30) 46%, rgb(50, 30, 30) 49%, transparent 50%, transparent),
                radial-gradient(circle at 0 50%, rgb(50, 30, 30) 5%, rgb(62, 39, 35) 6%, rgb(62, 39, 35) 15%, rgb(50, 30, 30) 16%, rgb(50, 30, 30) 20%, rgb(62, 39, 35) 21%, rgb(62, 39, 35) 30%, rgb(50, 30, 30) 31%, rgb(50, 30, 30) 35%, rgb(62, 39, 35) 36%, rgb(62, 39, 35) 45%, rgb(50, 30, 30) 46%, rgb(50, 30, 30) 49%, transparent 50%, transparent);
            background-size: 50px 25px;*/
            /* -----border image----- */
            /*border-image-slice: 40 40 40 40;
            border-image-width: 40px 40px 40px 40px;
            border-image-outset: 20px 0 20px 0;
            border-image-repeat: round stretch;
            border-image-source: url('../../Content/img/border__honey-content-block.png');*/
        }

            .honeyContentBlock h1 {
                text-align: center;
                font-family: 'Fredericka the Great', cursive;
                font-size: 4em;
                line-height: 1.2em;
                text-transform: uppercase;
                text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
            }

            .honeyContentBlock h2 {
                text-align: center;
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
                font-family: 'Special Elite', cursive;
                font-size: 1.2em;
                line-height: 1.4em;
                color: #fff;
                text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
            }

                .honeyContentBlock h2 a {
                    color: #fff;
                }

        .timelineCard {
            padding: 16px;
            border-radius: 2px;
            max-width: 736px;
            box-sizing: border-box;
            margin: 0 auto 64px auto;
            background-color: rgba(255,245,245,0.7);
        }

        .timelineContainer {
            background: url('../../Content/img/timeline_bg.png') repeat-y center top;
        }

        .mdl-grid__honey-timeslot {
            margin-bottom: 16px;
            padding: 0;
        }

            .mdl-grid__honey-timeslot .mdl-cell {
                box-sizing: border-box;
                border-top: 2px solid rgb(121, 134, 203);
                padding: 16px;
                margin: 0;
            }

            .mdl-grid__honey-timeslot .mdl-cell--timeline-photo {
                width: 50%;
            }

            .mdl-grid__honey-timeslot .mdl-cell--3-col-desktop,
            .mdl-grid__honey-timeslot .mdl-cell--2-col-tablet {
                width: 25%;
            }

            .mdl-grid__honey-timeslot .mdl-cell--no-border {
                border: 0;
            }

            .mdl-grid__honey-timeslot .mdl-card__title {
                position: relative;
                height: 250px;
                padding: 0;
                overflow: hidden;
            }

            .mdl-grid__honey-timeslot span {
                float: left;
                font-size: 3em;
                line-height: 1em;
                color: rgb(121, 134, 203);
                font-family: 'Sue Ellen Francisco', cursive;
                white-space: nowrap;
            }

            .mdl-grid__honey-timeslot .mdl-card__title-text {
                position: absolute;
                left: 16px;
                bottom: 16px;
            }

        .even .mdl-cell {
            border-color: rgb(236, 64, 122);
        }

        .even span {
            float: right;
            text-align: right;
            color: rgb(236, 64, 122);
        }

        .mdl-card__title-need-image {
            background: url('../../Content/img/needImage.png') center / cover;
        }

        .honeyMap {
            min-height: 400px;
            margin: 20px;
            border: 0;
        }

        .honey_slider {
            width: 100%;
            height: 100%;
        }

        .animationChaseImage {
            position: absolute;
            left: -300px;
            z-index: 1;
        }

        .animationBikeChaseImage {
            position: absolute;
            right: -400px;
            z-index: 1;
        }

        .homeLinks {
            position: absolute;
            border-radius: 2px;
            bottom: 0;
            left: 0;
            padding: 8px;
            background-color: rgba(0,0,0,0.3);
            font-family: 'Sue Ellen Francisco', cursive;
            text-transform: uppercase;
            font-size: 18px;
            color: rgba(255,255,255,0.7);
        }
        
            .homeLinks a {
                text-decoration: none;
                color: rgba(255,255,255,0.7);
                margin-left: 16px;
            }

            .homeLinks a:hover {
                color: rgba(255,255,255,1);
            }

            .homeLinks .material-icons {
                font-size: 14px;
            }

        @@media screen and (max-width: 959px) {
            .parallax__viewport, .honeyContentBlock {
                min-height: calc(100vh - 56px);
            }
        }

        @@media screen and (max-width: 479px) {
            .homeLinks {
                /*font-size: 14px;*/
                right: 0;
            }

            .timelineContainer {
                background: none;
            }

            .honeyContentBlock h1 {
                font-size: 3em;
            }


            .mdl-grid__honey-timeslot .mdl-cell--timeline-photo {
                width: 100%;
                margin: 0;
            }

            .mdl-grid__honey-timeslot .mdl-cell {
                border: 0;
                padding: 0;
            }

        }

    </style>
}

<div id="home"></div><!--anchor for ScrollMagic-->
<div class="parallax__viewport" id="viewportHome">
    <div class="parallax__layer parallax__layer--base">
        <!-- need 'scroll down' graphic, align to one side on bottom of div -->
        <div class="homeLinks">
            <span class="mdl-layout--large-screen-only">Scroll Down:</span>
            <a href="#ourStory"><i class="material-icons">arrow_downward</i>Our Story</a>
            <a href="#ourFamilies"><i class="material-icons">arrow_downward</i><span class="mdl-layout--large-screen-only"><i class="material-icons">arrow_downward</i></span>Our Families</a>
            <a href="#whenWhere"><i class="material-icons">arrow_downward</i><span class="mdl-layout--large-screen-only"><i class="material-icons">arrow_downward</i><i class="material-icons">arrow_downward</i></span>When & Where</a>
        </div>
    </div>
    <div class="parallax__layer parallax__layer--back" style="background: url('../../Content/img/honey_wedding--home_page_overlay.png') center; background-size: cover;"></div>
</div>


<div class="honeyContentBlock mdl-shadow--4dp mdl-color--indigo-100 argyle-overlay" id="ourStory">

    <h1 class="mdl-color-text--primary-dark">Our Story</h1>

    <h2>It all started in a simpler time, when the Bee Gees ruled the airwaves, Grease ruled the box office, and <a href="http://www.dailymail.co.uk/sciencetech/article-2361857/Why-1978-year-world-good-We-perfect-balance-wealth-work-happiness.html" target="_blank">the world enjoyed the perfect balance of wealth, work and happiness</a>...</h2>

    <div class="timelineCard mdl-shadow--4dp">
        <div class="timelineContainer">

            <!--Begin odd/even pair-->

            <div class="mdl-grid mdl-grid__honey-timeslot">
                <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--timeline-photo">
                    <div class="mdl-card mdl-card__timeline mdl-shadow--4dp">
                        <div class="mdl-card__title">
                            <div class="honey_slider slider__russ_born">
                                <img data-lazy="../../Content/img/russ_with_tiller.jpg" />
                                <img data-lazy="../../Content/img/russ_wes_booze_bottles.jpg" />
                            </div>
                            <div class="mdl-card__title-text mdl-cell--hide-desktop mdl-cell--hide-tablet">Dec 30th, 1978</div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Russell is born to Gary and Joyce Cook in Camarillo, CA. From a young age his friends found him affable and easy to get along with!</p>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone">
                    <span>Dec 30th, 1978</span>
                </div>
            </div>

            <div class="mdl-grid mdl-grid__honey-timeslot even">
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone mdl-cell--no-border">
                </div>
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone">
                    <span class="mdl-color-text--pink-400">May 9th, 1982</span>
                </div>
                <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--timeline-photo">
                    <div class="mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title mdl-card__title-need-image">
                            <div class="honey_slider slider__lisa_born">
                                <img src="../../Content/img/lisa_and_lori_hearth.jpg" />
                            </div>
                            <div class="mdl-card__title-text mdl-cell--hide-desktop mdl-cell--hide-tablet">May 9th, 1982</div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Lisa is born to Arny and Vicki Hass in Carson City NV. The question of which is more important--Mother's Day or Lisa's birthday--has yet to be resolved!</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Begin odd/even pair-->

            <div class="mdl-grid mdl-grid__honey-timeslot">
                <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--timeline-photo">
                    <div class="mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title mdl-card__title-need-image">
                            <div class="mdl-card__title-text mdl-cell--hide-desktop mdl-cell--hide-tablet">1991-1995</div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Russell attends Carson High School. His dominance as an athlete is immediately apparent. He somehow manages to letter in both JV Soccer and Marching Band.</p>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone">
                    <span>1991-1995</span>
                </div>
            </div>

            <div class="mdl-grid mdl-grid__honey-timeslot even">
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone mdl-cell--no-border">
                </div>
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone">
                    <span class="mdl-color-text--pink-400">1995-2000</span>
                </div>
                <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--timeline-photo">
                    <div class="mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title mdl-card__title-need-image">
                            <div class="mdl-card__title-text mdl-cell--hide-desktop mdl-cell--hide-tablet">1995-2000</div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Lisa also attends Carson High! (Need more text)</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Begin odd/even pair-->

            <div class="mdl-grid mdl-grid__honey-timeslot">
                <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--timeline-photo">
                    <div class="mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title mdl-card__title-need-image">
                            <div class="mdl-card__title-text mdl-cell--hide-desktop mdl-cell--hide-tablet">1995-1999</div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Russell attends the University of Southern California, where fails to make the football team as a walk-on, but succeeds wildly in furthering his marching band career. He majors in Music Recording and goes to work in fabulous Hollywood!</p>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone">
                    <span>1995-1999</span>
                </div>
            </div>

            <div class="mdl-grid mdl-grid__honey-timeslot even">
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone mdl-cell--no-border">
                </div>
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone">
                    <span class="mdl-color-text--pink-400">2000-???</span>
                </div>
                <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--timeline-photo">
                    <div class="mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title mdl-card__title-need-image">
                            <div class="mdl-card__title-text mdl-cell--hide-desktop mdl-cell--hide-tablet">2000-???</div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Need description of Lisa's young adult phase</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Begin odd/even pair-->

            <div class="mdl-grid mdl-grid__honey-timeslot">
                <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--timeline-photo">
                    <div class="mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title mdl-card__title-need-image">
                            <div class="mdl-card__title-text mdl-cell--hide-desktop mdl-cell--hide-tablet">Jan. 26, 2013</div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Fast-forward 13 years and... the honey's meet at a mutual friend's surprise birthday party! It wasn't long before they caught each other's eyes and snuck upstairs to talk. He laughed, she laughed, everything was hilarious! </p>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone">
                    <span>Jan. 26, 2013</span>
                </div>
            </div>

            <div class="mdl-grid mdl-grid__honey-timeslot even">
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone mdl-cell--no-border">
                </div>
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone">
                    <span class="mdl-color-text--pink-400">Feb. 14, 2013</span>
                </div>
                <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--timeline-photo">
                    <div class="mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title mdl-card__title-need-image">
                            <div class="mdl-card__title-text mdl-cell--hide-desktop mdl-cell--hide-tablet">Feb. 14, 2013</div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Russ and Lisa decide to make if official--the honeys are a couple! Russ is super excited that the date is so easy to remember.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Begin odd/even pair-->

            <div class="mdl-grid mdl-grid__honey-timeslot">
                <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--timeline-photo">
                    <div class="mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title mdl-card__title-need-image">
                            <div class="mdl-card__title-text mdl-cell--hide-desktop mdl-cell--hide-tablet">Thanksgiving 2013</div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>The honeys visit Fair Play for the first time! (need more text)</p>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone">
                    <span>Thanksgiving 2013</span>
                </div>
            </div>

            <div class="mdl-grid mdl-grid__honey-timeslot even">
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone mdl-cell--no-border">
                </div>
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone">
                    <span class="mdl-color-text--pink-400">May 3, 2014</span>
                </div>
                <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--timeline-photo">
                    <div class="mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title mdl-card__title-need-image">
                            <div class="mdl-card__title-text mdl-cell--hide-desktop mdl-cell--hide-tablet">May 3, 2014</div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Russ surpises Lisa with birthday dinner at The Kitchen in Sacramento. The honeys fall even more deeply in love as they soak in the dining experience that inspired their wedding dinner.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Begin odd/even pair-->

            <div class="mdl-grid mdl-grid__honey-timeslot">
                <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--timeline-photo">
                    <div class="mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title mdl-card__title-need-image">
                            <div class="mdl-card__title-text mdl-cell--hide-desktop mdl-cell--hide-tablet">Winter 2014-2015</div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Marriage has become a common topic of discussion. For months Russ teases Lisa that she needs to grow a pair and pop the big question. Isn't Russ hilarious?</p>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone">
                    <span>Winter 2014-2015</span>
                </div>
            </div>

            <div class="mdl-grid mdl-grid__honey-timeslot even">
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone mdl-cell--no-border">
                </div>
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--hide-phone">
                    <span class="mdl-color-text--pink-400">Feb. 14, 2015</span>
                </div>
                <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--timeline-photo">
                    <div class="mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title mdl-card__title-need-image">
                            <div class="mdl-card__title-text mdl-cell--hide-desktop mdl-cell--hide-tablet">Feb. 14, 2015</div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <p>Lisa does it! She makes Russ the sweetest engagement card a guy has ever received, and of course he says yes! The honeys are engaged!</p>
                            <p>(Need interactive feature for viewing engagement cared)</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="parallax__viewport" id="viewportChase">
    <img id="lisaChase" src="../../Content/img/lisa_chase.png" class="animationChaseImage" />
    <img id="russChase" src="../../Content/img/russ_chase.png" class="animationChaseImage" />
    @*<div class="parallax__layer parallax__layer--base"><h1>Hey it's a test!</h1></div>*@
    <div class="parallax__layer parallax__layer--back" style="background: url('../../Content/img/honeys_with_fish.jpg') center; background-size: cover;"></div>
</div>

<div class="honeyContentBlock mdl-shadow--4dp mdl-color--brown-200 argyle-overlay" id="ourFamilies">
    <h1 class="mdl-color-text--primary-dark">Our Families</h1>
</div>

<div class="parallax__viewport" id="viewportBikeChase">
    <img id="lisaBikeChase" src="../../Content/img/lisa_bike_chase.png" class="animationBikeChaseImage" />
    <img id="russBikeChase" src="../../Content/img/russ_bike_chase.png" class="animationBikeChaseImage" />
    @*<div class="parallax__layer parallax__layer--base"><h1>Hey it's another test!</h1></div>*@
    <div class="parallax__layer parallax__layer--back" style="background: url('../../Content/img/honeys_in_peach_tree.jpg') center; background-size: cover;"></div>
</div>

<div class="honeyContentBlock mdl-color--deep-purple-100 argyle-overlay" id="whenWhere">
    <h1 class="mdl-color-text--primary-dark">When & Where</h1>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title" style="background: url('../../Content/img/when_where.jpg') center; background-size: cover; height: 200px;">
                    <div class="mdl-card__title-text">Details</div>
                </div>
                <div class="mdl-card__supporting-text">
                    <table class="table-list" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="table-list--term">Date</td>
                            <td>
                                October 1, 2016
                            </td>
                        </tr>
                        <tr>
                            <td class="table-list--term">Time</td>
                            <td>
                                4pm-10pm
                            </td>
                        </tr>
                        <tr>
                            <td class="table-list--term">Location</td>
                            <td>
                                <a href="http://www.mastroseriowinery.com/" target="_blank">Mastroserio Winery</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-list--term">Address</td>
                            <td>
                                7351 Fairplay Rd<br />Somerset, CA 95684
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-js-button mdl-button--raised" href="Home/Accommodations">
                        Staying There
                    </a>
                    <a class="mdl-button mdl-js-button mdl-button--raised" href="Home/Venue">
                        The Venue
                    </a>
                </div>

            </div>
        </div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp">
                @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118600.49331621807!2d-120.80860747195742!3d38.63542020196392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809a429b8410230b%3A0x83e40f62a39a4b29!2sMastroserio+Winery+WIne!5e0!3m2!1sen!2sus!4v1458862932354" draggable="true" frameborder="0" class="honeyMap"></iframe>*@
                <iframe src="" id="map" draggable="true" frameborder="0" class="honeyMap"></iframe>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/greensock-js/src/minified/TweenMax.min.js"></script>
    <script src="~/Content/greensock-js/src/minified/plugins/ScrollToPlugin.min.js"></script>
    <script src="~/Content/scrollmagic/minified/ScrollMagic.min.js"></script>
    <script src="~/Content/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
    <script src="~/Content/slick/slick.min.js"></script>
    <script type="text/javascript">
        var controller = new ScrollMagic.Controller({ globalSceneOptions: {} });
        var sceneOurStory;
        var sceneOurFamilies;
        var sceneWhenWhere;
        var sceneLisaChase;
        var sceneRussChase;

        var bigHoneyBikeChaseFlightPath;
        var bigHoneyBikeChaseTween;
        var bigHoneyBikeChaseScene;
        var littleHoneyBikeChaseFlightPath;
        var littleHoneyBikeChaseTween;
        var littleHoneyBikeChaseScene;
        var bigHoneyFootChaseFlightPath;
        var bigHoneyFootChaseTween;
        var bigHoneyFootChaseScene;
        var littleHoneyFootChaseFlightPath;
        var littleHoneyFootChaseTween;
        var littleHoneyFootChaseScene;

        function initScrollMagic() {
            // build nav tab scenes
            sceneOurStory = new ScrollMagic.Scene({ triggerElement: "#ourStory" })
                            .setClassToggle("#menuOurStory", "is-active")
                            .addTo(controller);
            sceneOurFamilies = new ScrollMagic.Scene({ triggerElement: "#ourFamilies" })
                            .setClassToggle("#menuOurFamilies", "is-active")
                            .addTo(controller);
            sceneWhenWhere = new ScrollMagic.Scene({ triggerElement: "#whenWhere" })
                            .setClassToggle("#menuWhenWhere", "is-active")
                            .addTo(controller);

            // build animation scenes
            sceneLisaChase = new ScrollMagic.Scene({ triggerElement: "#viewportChase", triggerHook: 0.8 })
                            //.setPin("#lisaChaseContainer")
                            .addTo(controller);

            sceneRussChase = new ScrollMagic.Scene({ triggerElement: "#viewportChase", triggerHook: 0.8 })
                            //.setPin("#russChaseContainer")
                            .addTo(controller);
            sceneLisaBikeChase = new ScrollMagic.Scene({ triggerElement: "#viewportBikeChase", triggerHook: 0.8 })
                            //.setPin("#lisaChaseContainer")
                            .addTo(controller);

            sceneRussBikeChase = new ScrollMagic.Scene({ triggerElement: "#viewportBikeChase", triggerHook: 0.8 })
                            //.setPin("#russChaseContainer")
                            .addTo(controller);
        }

        function calcScrollMagic() {
            // calculate and set triggerHook (i.e. vertical position of trigger)
            // this should place triggerHook exactly at the bottom of the headerRow (i.e. menu bar)
            var headerHeight = $('#headerRow').height();
            var windowHeight = $(window).height()
            var triggerHookVal = (Math.ceil((headerHeight / windowHeight) * 100) / 100).toFixed(2); // calculate what percentage of window height is occupied by menu bar, round up to two decimal places to add buffer for small screen heights
            sceneOurStory.triggerHook(triggerHookVal);
            sceneOurFamilies.triggerHook(triggerHookVal);
            sceneWhenWhere.triggerHook(triggerHookVal);

            // calculate duration (i.e. height) of each honeyContentBlock scene
            var ourStoryHeight = $('#ourStory').height();
            sceneOurStory.duration(ourStoryHeight);
            var ourFamiliesHeight = $('#ourFamilies').height();
            sceneOurFamilies.duration(ourFamiliesHeight);
            var whenWhereHeight = $('#whenWhere').height();
            sceneWhenWhere.duration(whenWhereHeight);

            // calculate animation durations
            var viewportDuration = windowHeight - headerHeight;
            sceneLisaChase.duration(viewportDuration * 1.3);
            sceneRussChase.duration(viewportDuration * 1.4);
            sceneRussChase.offset(viewportDuration / 3); // this makes Russ lag behind Lisa
            sceneRussBikeChase.duration(viewportDuration * 1.3);
            sceneLisaBikeChase.duration(viewportDuration * 1.4);
            sceneLisaBikeChase.offset(viewportDuration / 2.5); // this makes Lisa lag behind Russ

            // calculate max-height of animation images
            $('.animationChaseImage, .animationBikeChaseImage').css({ 'max-height': viewportDuration / 2 });

            // calculate chase animation path
            var chaseImageCssLeftOffset = 300;
            var chaseWindowWidth = $(window).width() + chaseImageCssLeftOffset;

            chaseFlightPath = {
                entry: {
                    curviness: 1.25,
                    //autoRotate: true,
                    values: [
                            { x: 0, y: 0 },
                            { x: chaseWindowWidth * 0.1, y: 0 },
                            { x: chaseWindowWidth * 0.2, y: 0 },
                            { x: chaseWindowWidth * 0.3, y: viewportDuration * 0.1 }
                    ]
                },
                looping: {
                    curviness: 1.25,
                    //autoRotate: true,
                    values: [
                            { x: chaseWindowWidth * 0.4, y: viewportDuration * 0.2 },
                            { x: chaseWindowWidth * 0.5, y: viewportDuration * 0.3 },
                            { x: chaseWindowWidth * 0.6, y: viewportDuration * 0.4 }
                    ]
                },
                leave: {
                    curviness: 1.25,
                    //autoRotate: true,
                    values: [
                            { x: chaseWindowWidth * 0.8, y: viewportDuration * 0.5 },
                            { x: chaseWindowWidth * 0.9, y: viewportDuration * 0.7 },
                            { x: chaseWindowWidth, y: viewportDuration * 0.9 }
                    ]
                }
            };

            lisaChaseTween = new TimelineMax()
                .add(TweenMax.to($("#lisaChase"), 1, { css: { bezier: chaseFlightPath.entry }, ease: Power1.easeInOut }))
                .add(TweenMax.to($("#lisaChase"), 2, { css: { bezier: chaseFlightPath.looping }, ease: Power1.easeInOut }))
                .add(TweenMax.to($("#lisaChase"), 1, { css: { bezier: chaseFlightPath.leave }, ease: Power1.easeInOut }));

            russChaseTween = new TimelineMax()
                .add(TweenMax.to($("#russChase"), 1, { css: { bezier: chaseFlightPath.entry }, ease: Power1.easeInOut }))
                .add(TweenMax.to($("#russChase"), 2, { css: { bezier: chaseFlightPath.looping }, ease: Power1.easeInOut }))
                .add(TweenMax.to($("#russChase"), 1, { css: { bezier: chaseFlightPath.leave }, ease: Power1.easeInOut }));

            sceneLisaChase.setTween(lisaChaseTween);
            sceneRussChase.setTween(russChaseTween);

            // calculate bike chase animation path
            var bikeChaseImageCssRightOffset = 400;
            var bikeChaseWindowWidth = 0 - $(window).width() - bikeChaseImageCssRightOffset;

            bikeChaseFlightPath = {
                entry: {
                    curviness: 1.25,
                    //autoRotate: true,
                    values: [
                            { x: 0, y: 0 },
                            { x: bikeChaseWindowWidth * 0.1, y: 0 },
                            { x: bikeChaseWindowWidth * 0.2, y: 0.1 },
                            { x: bikeChaseWindowWidth * 0.3, y: viewportDuration * 0.2 }
                    ]
                },
                looping: {
                    curviness: 1.25,
                    //autoRotate: true,
                    values: [
                            { x: bikeChaseWindowWidth * 0.4, y: viewportDuration * 0.3 },
                            { x: bikeChaseWindowWidth * 0.5, y: viewportDuration * 0.4 },
                            { x: bikeChaseWindowWidth * 0.6, y: viewportDuration * 0.5 }
                    ]
                },
                leave: {
                    curviness: 1.25,
                    //autoRotate: true,
                    values: [
                            { x: bikeChaseWindowWidth * 0.8, y: viewportDuration * 0.6 },
                            { x: bikeChaseWindowWidth * 0.9, y: viewportDuration * 0.7 },
                            { x: bikeChaseWindowWidth, y: viewportDuration * 0.8 }
                    ]
                }
            };

            lisaBikeChaseTween = new TimelineMax()
                .add(TweenMax.to($("#lisaBikeChase"), 1, { css: { bezier: bikeChaseFlightPath.entry }, ease: Power1.easeInOut }))
                .add(TweenMax.to($("#lisaBikeChase"), 2, { css: { bezier: bikeChaseFlightPath.looping }, ease: Power1.easeInOut }))
                .add(TweenMax.to($("#lisaBikeChase"), 1, { css: { bezier: bikeChaseFlightPath.leave }, ease: Power1.easeInOut }));

            russBikeChaseTween = new TimelineMax()
                .add(TweenMax.to($("#russBikeChase"), 1, { css: { bezier: bikeChaseFlightPath.entry }, ease: Power1.easeInOut }))
                .add(TweenMax.to($("#russBikeChase"), 2, { css: { bezier: bikeChaseFlightPath.looping }, ease: Power1.easeInOut }))
                .add(TweenMax.to($("#russBikeChase"), 1, { css: { bezier: bikeChaseFlightPath.leave }, ease: Power1.easeInOut }));

            sceneLisaBikeChase.setTween(lisaBikeChaseTween);
            sceneRussBikeChase.setTween(russBikeChaseTween);


        }

        function initMap() {
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            });
        }

        // init sliders
        function initSliders() {
            $('.slider__russ_born').slick({
                dots: true,
                lazyLoad: 'progressive'
            });

            $('.slider__lisa_born').slick({
                dots: true,
                lazyLoad: 'progressive'
            });

        }

    </script>

}

<script>
@section scriptWindowLoad {
    // initialize ScrollMagic, add event listener to re-calculate scrolling/animation values on resize
    initScrollMagic();
    calcScrollMagic();
    $(window).resize(calcScrollMagic);

    // initialize Slick image sliders
    initSliders();

    // enable automatic scrolling when clicking on an anchor link
    $(document).on("click", "a[href*='#']", function (e) {
        var hrefValue = $(this).attr("href");
        var id = hrefValue.substr(hrefValue.indexOf('#'), hrefValue.length);
        if ($(id).length > 0) {
            e.preventDefault();

            // trigger scroll
            var scrollLocation = $('.mdl-layout__content').scrollTop() + $(id).position().top;
            TweenMax.to('.mdl-layout__content', 1.5, { scrollTo: { y: scrollLocation }, ease: Power2.easeInOut });

            // if supported by the browser we can even update the URL.
            if (window.history && window.history.pushState) {
                history.pushState("", document.title, id);
            }
        }
    });

    // if loaded with # link, scroll to anchor
    if (window.location.hash) {
        var hrefValue = window.location.href;
        var id = hrefValue.substr(hrefValue.indexOf('#'), hrefValue.length);
        if ($(id).length > 0) {

            // trigger scroll
            var scrollLocation = $('.mdl-layout__content').scrollTop() + $(id).position().top;
            TweenMax.to('.mdl-layout__content', 1.5, { scrollTo: { y: scrollLocation }, ease: Power2.easeInOut });
        }
    }

    // load google map
    $('#map').attr('src', 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118600.49331621807!2d-120.80860747195742!3d38.63542020196392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809a429b8410230b%3A0x83e40f62a39a4b29!2sMastroserio+Winery+WIne!5e0!3m2!1sen!2sus!4v1458862932354');

    }
</script>
