
@{
    ViewBag.Title = "The Honeys' Wedding!";
    ViewBag.NoContentWrapper = true;
    //Layout = "~/views/shared/_layoutBlank.cshtml";
}

@section headLevel {
    <style>
        .honeyContentBlock {
            background-color: rgb(62, 39, 35);
            background-image: radial-gradient(circle at 100% 150%, rgb(62, 39, 35) 24%, rgb(50, 30, 30) 25%, rgb(50, 30, 30) 28%, rgb(62, 39, 35) 29%, rgb(62, 39, 35) 36%, rgb(50, 30, 30) 36%, rgb(50, 30, 30) 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, rgb(62, 39, 35) 24%, rgb(50, 30, 30) 25%, rgb(50, 30, 30) 28%, rgb(62, 39, 35) 29%, rgb(62, 39, 35) 36%, rgb(50, 30, 30) 36%, rgb(50, 30, 30) 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, rgb(50, 30, 30) 10%, rgb(62, 39, 35) 11%, rgb(62, 39, 35) 23%, rgb(50, 30, 30) 24%, rgb(50, 30, 30) 30%, rgb(62, 39, 35) 31%, rgb(62, 39, 35) 43%, rgb(50, 30, 30) 44%, rgb(50, 30, 30) 50%, rgb(62, 39, 35) 51%, rgb(62, 39, 35) 63%, rgb(50, 30, 30) 64%, rgb(50, 30, 30) 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, rgb(50, 30, 30) 5%, rgb(62, 39, 35) 6%, rgb(62, 39, 35) 15%, rgb(50, 30, 30) 16%, rgb(50, 30, 30) 20%, rgb(62, 39, 35) 21%, rgb(62, 39, 35) 30%, rgb(50, 30, 30) 31%, rgb(50, 30, 30) 35%, rgb(62, 39, 35) 36%, rgb(62, 39, 35) 45%, rgb(50, 30, 30) 46%, rgb(50, 30, 30) 49%, transparent 50%, transparent), radial-gradient(circle at 0 50%, rgb(50, 30, 30) 5%, rgb(62, 39, 35) 6%, rgb(62, 39, 35) 15%, rgb(50, 30, 30) 16%, rgb(50, 30, 30) 20%, rgb(62, 39, 35) 21%, rgb(62, 39, 35) 30%, rgb(50, 30, 30) 31%, rgb(50, 30, 30) 35%, rgb(62, 39, 35) 36%, rgb(62, 39, 35) 45%, rgb(50, 30, 30) 46%, rgb(50, 30, 30) 49%, transparent 50%, transparent);
            background-size: 66px 33px;
            /*background: #f9f9f9 url('../../Content/img/light_grey.png') repeat;*/
            /*border-image-slice: 40 40 40 40;
            border-image-width: 40px 40px 40px 40px;
            border-image-outset: 20px 0 20px 0;
            border-image-repeat: round stretch;
            border-image-source: url('../../Content/img/border__honey-content-block.png');*/
            /*box-shadow: rgba(0,0,0,0.4) 2px 2px inset;*/
        }

        .honeyContentBlock__title {
            text-align: center;
            font-size: 3em;
            line-height: 2em;
            text-transform: uppercase;
            text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
        }

        .mdl-grid__honey-timeslot {
            /*max-width: 960px;*/
            border-top: 3px solid #ddd;
            margin-bottom: 20px;
            padding: 0;
        }

            .mdl-grid__honey-timeslot .mdl-cell {
                margin: 8px 0;
            }

            .mdl-grid__honey-timeslot span {
                /*position: absolute;
        right: 0;*/
                /*top: 20px;*/
                margin-left: 20px;
                font-size: 4em;
                line-height: 1em;
                color: #999;
                font-family: 'Sue Ellen Francisco', cursive;
            }

        .mdl-card__timeline {
            width: auto;
            margin-right: 20px;
        }

        .even {
            /*float: right;*/
            /*padding: 10px 0 0 120px;*/
            border-color: rgb(239, 83, 80);
        }

            .even span {
                /*left: 0;*/
                float: right;
                margin-left: 0;
                margin-right: 20px;
                color: rgb(239, 83, 80);
            }

            .even .mdl-card__timeline {
                margin-right: 0;
                margin-left: 20px;
            }

        .timelineContainer {
            background: url('../../Content/img/timeline_bg.gif') repeat-y center top;
            /*max-width: 600px;*/
            overflow: hidden;
            margin: 0 auto;
        }

        .mdl-card__title-honeys-on-couch {
            height: 200px;
            background: url('../../Content/img/honeys_on_couch.jpg') center / cover;
        }

        .honeyMap {
            min-height: 400px;
            margin: 20px;
            border: 0;
        }
    </style>
}

@section bodyTagOpen {
    <body style="background: #fff url('../../Content/img/honeys_on_couch.jpg') center / cover;">
}

<div id="home"></div>
<div class="honeyHome"></div>

<div class="honeyContentBlock" id="ourStory">
    <div class="honeyContentBlock__title mdl-color-text--brown-200">Our Story</div>
    <div class="timelineContainer">
        <div class="mdl-grid mdl-grid__honey-timeslot">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
                <div class="mdl-card mdl-card__timeline mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card__title-honeys-on-couch">
                        <h2 class="mdl-card__title-text mdl-color-text--accent">Dec 30th, 1978</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>Russell is born to Gary and Joyce Cook in Camarillo, CA. Russell is born to Gary and Joyce Cook in Camarillo, CA. Russell is born to Gary and Joyce Cook in Camarillo, CA. </p>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--hide-phone">
                <span>1978</span>
            </div>
        </div>
        <div class="mdl-grid mdl-grid__honey-timeslot even">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--hide-phone">
                <span>1982</span>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
                <div class="mdl-card mdl-card__timeline mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card__title-honeys-on-couch">
                        <h2 class="mdl-card__title-text mdl-color-text--accent">May 9th, 1982</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>Lisa is born to Arnold and Vicki Hass in Carson City, NV. Lisa is born to Arnold and Vicki Hass in Carson City, NV. Lisa is born to Arnold and Vicki Hass in Carson City, NV. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax__viewport">
    <div class="parallax__layer parallax__layer--base"><h1>Hey it's a test!</h1></div>
    <div class="parallax__layer parallax__layer--back" style="background: url('../../Content/img/honeys_on_couch.jpg') center / cover;"></div>
</div>

<div class="honeyContentBlock" id="ourFamilies">
    <div class="honeyContentBlock__title mdl-color-text--brown-200">Our Families</div>
</div>

<div class="parallax__viewport">
    <div class="parallax__layer parallax__layer--base"><h1>Hey it's another test!</h1></div>
    <div class="parallax__layer parallax__layer--back" style="background: url('../../Content/img/honeys_on_couch.jpg') center / cover;"></div>
</div>

<div class="honeyContentBlock" id="whenWhere">
    <div class="honeyContentBlock__title mdl-color-text--brown-200">When & Where</div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-color--accent">
                    <h2 class="mdl-card__title-text mdl-color-text--accent-contrast">Details</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <table class="table-list" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="table-list--term">
                                Date:
                            </td>
                            <td>
                                October 1, 2016
                            </td>
                        </tr>
                        <tr>
                            <td class="table-list--term">
                                Time:
                            </td>
                            <td>
                                4pm-10pm
                            </td>
                        </tr>
                        <tr>
                            <td class="table-list--term">
                                Location:
                            </td>
                            <td>
                                Mastroserio Winery
                            </td>
                        </tr>
                        <tr>
                            <td class="table-list--term">
                                Address:
                            </td>
                            <td>
                                7351 Fairplay Rd<br />Somerset, CA 95684
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-shadow--2dp">
                @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118600.49331621807!2d-120.80860747195742!3d38.63542020196392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809a429b8410230b%3A0x83e40f62a39a4b29!2sMastroserio+Winery+WIne!5e0!3m2!1sen!2sus!4v1458862932354" draggable="true" frameborder="0" class="honeyMap"></iframe>*@
                <iframe src="" id="map" draggable="true" frameborder="0" class="honeyMap"></iframe>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/greensock-js/src/minified/TweenMax.min.js"></script>
    <script src="~/Content/greensock-js/src/minified/plugins/ScrollToPlugin.min.js"></script>
    <script src="~/Content/scrollmagic/minified/ScrollMagic.min.js"></script>
    <script src="~/Content/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
    <script type="text/javascript">
        var controller = new ScrollMagic.Controller({ globalSceneOptions: {} });
        var sceneOurStory;
        var sceneOurFamilies;
        var sceneWhenWhere;

        function initScrollMagic() {
            // build nav tab scenes
            sceneOurStory = new ScrollMagic.Scene({ triggerElement: "#ourStory" })
                            .setClassToggle("#menuOurStory", "is-active")
                            .addTo(controller);
            sceneOurFamilies = new ScrollMagic.Scene({ triggerElement: "#ourFamilies" })
                            .setClassToggle("#menuOurFamilies", "is-active")
                            .addTo(controller);
            sceneWhenWhere = new ScrollMagic.Scene({ triggerElement: "#whenWhere" })
                            .setClassToggle("#menuWhenWhere", "is-active")
                            .addTo(controller);
        }

        function calcDurations() {
            // set min-height of honeyContentBlock divs
            var minHeight = $(window).height() - $('#headerRow').height();
            $('.honeyContentBlock, .honeyHome, .parallax__viewport').css({ 'min-height': (minHeight - 40), 'padding': 20 }); // minHeight minus 40, to account for padding

            // calculate transform-origin for CSS parallex (needed because default behavior doesn't correct for the width of the vertical scroll bar)
            var xValue = $(window).width() / 2;
            var yValue = minHeight / 2;
            $('.parallax__layer--back').css({
                '-webkit-transform-origin-x': xValue,
                'transform-origin-x': xValue,
                '-moz-transform-origin': [xValue, 'px ', yValue, 'px'].join("") // moz requires 2-value syntax
            });


            // calculate and set triggerHook (i.e. vertical position of trigger)
            // this should place triggerHook exactly at the bottom of the headerRow (i.e. menu bar)
            var triggerHookVal = (Math.ceil(($('#headerRow').height() / $(window).height()) * 100) / 100).toFixed(2); // calculate what percentage of window height is occupied by menu bar, round up to two decimal places to add buffer for small screen heights
            sceneOurStory.triggerHook(triggerHookVal);
            sceneOurFamilies.triggerHook(triggerHookVal);
            sceneWhenWhere.triggerHook(triggerHookVal);

            // calculate duration (i.e. height) of each scene (i.e. content block <div>)
            var ourStoryHeight = $('#ourStory').height();
            sceneOurStory.duration(ourStoryHeight);
            var ourFamiliesHeight = $('#ourFamilies').height();
            sceneOurFamilies.duration(ourFamiliesHeight);
            var whenWhereHeight = $('#whenWhere').height();
            sceneWhenWhere.duration(whenWhereHeight);

        }

        function initMap() {
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            });
        }

    </script>

}

<script>
@section scriptWindowLoad {
    // enable automatic scrolling when clicking on an anchor link
    $(document).on("click", "a[href*='#']", function (e) {
        var hrefValue = $(this).attr("href");
        var id = hrefValue.substr(hrefValue.indexOf('#'), hrefValue.length);
        if ($(id).length > 0) {
            e.preventDefault();

            // trigger scroll
            var scrollLocation = $('main').scrollTop() + $(id).position().top;
            TweenMax.to('main', 1.5, { scrollTo: { y: scrollLocation }, ease: Power2.easeInOut });

            // if supported by the browser we can even update the URL.
            if (window.history && window.history.pushState) {
                history.pushState("", document.title, id);
            }
        }
    });

    $(window).resize(calcDurations);

    initScrollMagic();
    calcDurations();

    // load google map
    $('#map').attr('src', 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118600.49331621807!2d-120.80860747195742!3d38.63542020196392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809a429b8410230b%3A0x83e40f62a39a4b29!2sMastroserio+Winery+WIne!5e0!3m2!1sen!2sus!4v1458862932354');

    // if loaded with # link, scroll to anchor
    if (window.location.hash) {
        var hrefValue = window.location.href;
        var id = hrefValue.substr(hrefValue.indexOf('#'), hrefValue.length);
        if ($(id).length > 0) {
            // trigger scroll
            var scrollLocation = $('main').scrollTop() + $(id).position().top;
            TweenMax.to('main', 1.5, { scrollTo: { y: scrollLocation }, ease: Power2.easeInOut });
        }
    }
}
</script>
