
@{
    ViewBag.Title = "The Honeys' Wedding!";
    ViewBag.NoContentWrapper = true;
}

@section headLevel {
    <style>
        .honeyContainer {
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .honeyHome {
            min-height: 100%;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            display: block;
        }

        .honeyPhotoGap {
            min-height: 50%;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            display: block;
        }

        .honeyContentBlock {
            width: 100%;
            min-height: 100%;
            display: block;
            background: #f9f9f9 url(http://www.cvodesigns.co.za/CasperenDanel/images/white_texture.png) repeat top left;
        }
    </style>
}

@section bodyTagOpen {
    <body style="background: url('../../Content/img/honeys_on_couch.jpg') center / cover;">
}

<div class="honeyContainer">
    <div class="honeyHome" id="home"></div>
    <div class="honeyContentBlock" id="ourStory"></div>
    <div class="honeyPhotoGap" id="photoGap1"></div>
    <div class="honeyContentBlock" id="whenWhere"></div>
</div>

@section scripts {
        <script src="~/Content/greensock-js/src/minified/TweenMax.min.js"></script>
        <script src="~/Content/greensock-js/src/minified/plugins/ScrollToPlugin.min.js"></script>
        <script src="~/Content/scrollmagic/minified/ScrollMagic.min.js"></script>
        <script src="~/Content/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
    <script type="text/javascript">
        var controller = new ScrollMagic.Controller({ globalSceneOptions: {} });
        var sceneOurStory;
        var sceneWhenWhere;

        $(document).on("click", "a[href*='#']", function (e) {
            var hrefValue = $(this).attr("href");
            var id = hrefValue.substr(hrefValue.indexOf('#'), hrefValue.length);
            if ($(id).length > 0) {
                e.preventDefault();

                // trigger scroll
                var scrollLocation = $(id).position();
                TweenMax.to('main', 1, { scrollTo: { y: scrollLocation.top }, ease: Power2.easeInOut });

                // if supported by the browser we can even update the URL.
                if (window.history && window.history.pushState) {
                    history.pushState("", document.title, id);
                }
            }
        });

        $(window).load(function () {
            setTimeout(function () {
                initScrollMagic();
                calcDurations();
            }, 0);
        })

        $(window).resize(function () {
            calcDurations();
        })


        function initScrollMagic() {
            // build scenes
            sceneOurStory = new ScrollMagic.Scene({ triggerElement: "#ourStory" })
                            .setClassToggle("#menuOurStory", "is-active")
                            .addTo(controller);
            sceneWhenWhere = new ScrollMagic.Scene({ triggerElement: "#whenWhere" })
                            .setClassToggle("#menuWhenWhere", "is-active")
                            .addTo(controller);
        }

        function calcDurations() {
            // calculate and set triggerHook (i.e. vertical position of trigger)
            // this should place triggerHook exactly at the bottom of the headerRow (i.e. menu bar)
            var triggerHookVal = (Math.ceil(($('#headerRow').height() / $(window).height()) * 100) / 100).toFixed(2); // calculate what percentage of window height is occupied by menu bar, round up to two decimal places to add buffer for small screen heights
            sceneOurStory.triggerHook(triggerHookVal);
            sceneWhenWhere.triggerHook(triggerHookVal);

            // calculate duration (i.e. height) of each scene (i.e. content block <div>)
            var ourStoryHeight = $('#ourStory').height();
            sceneOurStory.duration(ourStoryHeight);
            var whenWhereHeight = $('#whenWhere').height();
            sceneWhenWhere.duration(whenWhereHeight);
        }

    </script>

}
