
@{
    ViewBag.Title = "The Honeys' Wedding!";
    ViewBag.NoContentWrapper = true;
    //Layout = "~/views/shared/_layoutBlank.cshtml";

}

@section headLevel {
    <style>
        main {
            perspective: 1px;
            perspective-origin-x: 100%;
        }

        .parallax__viewport {
            position: relative;
            /*height: 100vh;*/
            transform-style: preserve-3d;
            z-index: -1;
               /*transform: translate3d(70px, 0, -80px) rotateY(30deg);*/
        }

        .parallax__layer {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            /*width: 100%;
            height: 100%;*/
            transform-origin-x: 100%;
        }

        .parallax__layer--base {
            transform: translateZ(0);
        }

        .parallax__layer--back {
            transform: translateZ(-1px) scale(2);
        }

        .honeyHome {
            /*height: 100vh;*/
            /*background: url('../../Content/img/honeys_on_couch.jpg') center / cover;*/
        }

        .honeyContentBlock {
            /*width: 100%;*/
            /*min-height: 100vh;*/
            /*display: block;*/
            background: #f9f9f9 url('../../Content/img/light_grey.png') repeat;
            /*padding: 40px;*/
        }

        .honeyContentBlock__title {
            text-align: center;
            font-size: 3em;
            line-height: 3em;
            text-transform: uppercase;
            text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
        }

        .timelineContainer {
            background: url('../../Content/img/timeline_bg.gif') repeat-y center top;
            margin: 20px auto;
            max-width: 600px;
            overflow: hidden;
        }

        .timeslot {
            width: 285px;
            float: left;
            margin: 0 0 25px 0;
            padding: 10px 120px 0 0;
            border-top: 3px solid #ddd;
            position: relative;
        }

            .timeslot span {
                position: absolute;
                right: 0;
                top: 20px;
                font-size: 4em;
                line-height: 1em;
                color: #999;
                font-family: 'Sue Ellen Francisco', cursive;
            }

        .even {
            float: right;
            padding: 10px 0 0 120px;
            border-color: rgb(239, 83, 80);
        }

            .even span {
                left: 0;
                color: rgb(239, 83, 80);
            }

        .mdl-card__timeline {
            max-width: 285px;
        }

        .mdl-card__title-honeys-on-couch {
            height: 200px;
            background: url('../../Content/img/honeys_on_couch.jpg') center / cover;
        }

        .honeyMap {
            min-height: 400px;
            margin: 20px;
            border: 0;
        }
    </style>
}

@section bodyTagOpen {
    <body style="background: url('../../Content/img/honeys_on_couch.jpg') center / cover;">
}

<div id="home"></div>
<div class="honeyHome" id="pinHome"></div>

<div class="honeyContentBlock" id="ourStory">
    <div class="honeyContentBlock__title mdl-color-text--primary">Our Story</div>
    @*<div class="timelineContainer">
            <div class="timeslot">
                <span>1978</span>
                <div class="mdl-card mdl-card__timeline mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card__title-honeys-on-couch">
                        <h2 class="mdl-card__title-text mdl-color-text--accent">Dec 30th, 1978</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>Russell is born to Gary and Joyce Cook in Camarillo, CA. Russell is born to Gary and Joyce Cook in Camarillo, CA. Russell is born to Gary and Joyce Cook in Camarillo, CA. </p>
                    </div>
                </div>
            </div>
            <div class="timeslot even">
                <span>1982</span>
                <p>Lisa is born to Arnold and Vicki Hass in Carson City, NV. Lisa is born to Arnold and Vicki Hass in Carson City, NV. Lisa is born to Arnold and Vicki Hass in Carson City, NV. </p>
            </div>
        </div>*@
</div>

<div class="parallax__viewport">
    <div class="parallax__layer parallax__layer--base"><h1>Hey it's a test!</h1></div>
    <div class="parallax__layer parallax__layer--back" style="background: url('../../Content/img/honeys_on_couch.jpg') center / cover;"></div>
</div>

<div class="honeyContentBlock" id="ourFamilies">
    <div class="honeyContentBlock__title mdl-color-text--primary">Our Families</div>
</div>

<div class="parallax__viewport">
    <div class="parallax__layer parallax__layer--base"><h1>Hey it's another test!</h1></div>
    <div class="parallax__layer parallax__layer--back" style="background: url('../../Content/img/honeys_on_couch.jpg') center / cover;"></div>
</div>

<div class="honeyContentBlock" id="whenWhere">
    <div class="honeyContentBlock__title mdl-color-text--primary">When & Where</div>
    <div class="mdl-grid mdl-grid__honeyContentBlock">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-color--accent">
                <h2 class="mdl-card__title-text mdl-color-text--accent-contrast">Details</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-list-label">Date:</div>
                    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone mdl-cell--5-col-tablet">October 1, 2016</div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-list-label">Time:</div>
                    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone mdl-cell--5-col-tablet">4pm-10pm</div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-list-label">Location:</div>
                    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone mdl-cell--5-col-tablet">Mastroserio Winery</div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-list-label">Address:</div>
                    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone mdl-cell--5-col-tablet">7351 Fairplay Rd<br />Somerset, CA 95684</div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--2dp">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118600.49331621807!2d-120.80860747195742!3d38.63542020196392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809a429b8410230b%3A0x83e40f62a39a4b29!2sMastroserio+Winery+WIne!5e0!3m2!1sen!2sus!4v1458862932354" draggable="true" frameborder="0" class="honeyMap"></iframe>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/greensock-js/src/minified/TweenMax.min.js"></script>
    <script src="~/Content/greensock-js/src/minified/plugins/ScrollToPlugin.min.js"></script>
    <script src="~/Content/scrollmagic/minified/ScrollMagic.min.js"></script>
    <script src="~/Content/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
    <script type="text/javascript">
        var controller = new ScrollMagic.Controller({ globalSceneOptions: {} });
        var sceneOurStory;
        var sceneOurFamilies;
        var sceneWhenWhere;

        $(document).on("click", "a[href*='#']", function (e) {
            var hrefValue = $(this).attr("href");
            var id = hrefValue.substr(hrefValue.indexOf('#'), hrefValue.length);
            if ($(id).length > 0) {
                e.preventDefault();

                // trigger scroll
                //var scrollLocation = ($(id).position().top - $('#headerRow').height()); // offset for menu bar
                var scrollLocation = $('main').scrollTop() + $(id).position().top;
                TweenMax.to('main', 1, { scrollTo: { y: scrollLocation }, ease: Power2.easeInOut });

                // if supported by the browser we can even update the URL.
                if (window.history && window.history.pushState) {
                    history.pushState("", document.title, id);
                }
            }
        });

        $(window).load(function () {
            // timeout ensures function fires AFTER mdl does its upgrades
            setTimeout(function () {
                initScrollMagic();
                calcDurations();
            }, 0);
        })

        $(window).resize(calcDurations);

        function initScrollMagic() {
            // build nav tab scenes
            sceneOurStory = new ScrollMagic.Scene({ triggerElement: "#ourStory" })
                            .setClassToggle("#menuOurStory", "is-active")
                            .addTo(controller);
            sceneOurFamilies = new ScrollMagic.Scene({ triggerElement: "#ourFamilies" })
                            .setClassToggle("#menuOurFamilies", "is-active")
                            .addTo(controller);
            sceneWhenWhere = new ScrollMagic.Scene({ triggerElement: "#whenWhere" })
                            .setClassToggle("#menuWhenWhere", "is-active")
                            .addTo(controller);
        }

        function calcDurations() {
            // set min-height of honeyContentBlock divs
            var minHeight = $(window).height() - $('#headerRow').height();
            $('.honeyContentBlock, .honeyHome, .parallax__viewport').css('min-height', [minHeight, 'px'].join(""));
            // calculate and set triggerHook (i.e. vertical position of trigger)
            // this should place triggerHook exactly at the bottom of the headerRow (i.e. menu bar)
            var triggerHookVal = (Math.ceil(($('#headerRow').height() / $(window).height()) * 100) / 100).toFixed(2); // calculate what percentage of window height is occupied by menu bar, round up to two decimal places to add buffer for small screen heights
            sceneOurStory.triggerHook(triggerHookVal);
            sceneOurFamilies.triggerHook(triggerHookVal);
            sceneWhenWhere.triggerHook(triggerHookVal);

            // calculate duration (i.e. height) of each scene (i.e. content block <div>)
            var ourStoryHeight = $('#ourStory').height();
            sceneOurStory.duration(ourStoryHeight);
            var ourFamiliesHeight = $('#ourFamilies').height();
            sceneOurFamilies.duration(ourFamiliesHeight);
            var whenWhereHeight = $('#whenWhere').height();
            sceneWhenWhere.duration(whenWhereHeight);

        }

    </script>

}
