
@{
    ViewBag.Title = "The Venue";
    ViewBag.NoContentWrapper = true;
}


@section headLevel {
    <style>
        main {
            background: #fff url('../../Content/img/the_venue_vines.jpg') center;
            background-size: cover;
        }

        .mdl-card {
            margin-top: 16px;
            margin-bottom: 32px;
        }

        .venueSectionContainer {
            padding: 16px 16px 0 16px;
        }

            .venueSectionContainer h1 {
                text-align: center;
                font-family: 'Fredericka the Great', cursive;
                font-size: 2em;
                line-height: 1em;
                text-transform: uppercase;
                text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
                margin-top: 0;
            }

        .venueSectionImage {
            width: 300px;
            height: 200px;
            float: right;
            border-radius: 2px;
            margin: 0 0 16px 16px;
            background-size: cover;
        }

            .venueSectionImage.left {
                float: left;
                margin: 0 16px 16px 0;
            }

        @@media screen and (max-width: 479px) {
            .venueSectionImage {
                width: 100%;
                margin: 0 0 16px 0;
            }

            .mdl-card {
                margin-left: 16px;
                margin-right: 16px;
            }
        }
    </style>
}
<div class="mdl-card mdl-card__page-small mdl-color--brown-100 mdl-shadow--2dp">
    <div class="venueSectionContainer">
        <div class="venueSectionImage" style="background: #fff url('../../Content/img/the_venue_party.jpg') center"></div>
        <h1 class="mdl-color-text--primary-dark">The Winery</h1>
        <p class="mdl-color-text--primary-dark">Located in El Dorado County, CA, <a href="http://www.mastroseriowinery.com/" target="_blank">Mastroserio Winery</a> can be found in the heart of the Fair Play wine region where the terroir is known for its varied microclimates. Dramatic changes in elevation, granitic soils and different exposures create the perfect conditions to produce a variety of high quality grapes.</p>
        <p class="mdl-color-text--primary-dark">Over the last twelve years, winemaker Ruggero Mastroserio has dedicated himself to his craft, perfecting fine examples of many wines including Cabernet Sauvignon, Cabernet Franc and Petite Verdot. These wines, under the Mastroserio/Rugiada name, are known for their finesse, elegance and everlasting flavors.</p>
        <hr class="mdl-color--brown-200" />
    </div>
    <div class="venueSectionContainer">
        <div class="venueSectionImage left" style="background: #fff url('../../Content/img/ruggero.jpg') center"></div>
        <h1 class="mdl-color-text--primary-dark">The Winemaker</h1>
        <p>Ruggero Mastroserio is an accomplished winemaker with extensive experience managing the entire winemaking process. Holding degrees in engineering, geology, and music, he also trained in enology in Italy with Mario Maffi and Mattia Vezzola. Before founding Mastroserio Winery, Ruggero made a name for himself by crafting award-winning wines at Latcham and Granite Springs Wineries, and before that as the CFO of Oliver Vineyards in Somerset. His wines have won hundreds of awards - in both domestic and international competitions.</p>
        <hr class="mdl-color--brown-200" />
    </div>
    <div class="venueSectionContainer">
        <div class="venueSectionImage" style="background: #fff url('../../Content/img/needImage.png') center"></div>
        <h1 class="mdl-color-text--primary-dark">The Wine</h1>
        <p>Need story of how we discovered Mastroserio and fell in love with the wine. Also need picture of us drinking wine? Do we have one from the tasting room?</p>
    </div>
</div>


