
@{
    ViewBag.Title = "The Venue";
    ViewBag.NoContentWrapper = true;
}


@section bodyTagOpen {
    <body style="background: #fff url('../../Content/img/the_venue_vines.jpg') center / cover;">
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card mdl-card__page mdl-shadow--2dp">
            <div class="mdl-card__title" style="height: 200px; background: #fff url('../../Content/img/the_venue_party.jpg') center / cover;">
                <div class="mdl-card__title-text mdl-color-text--white" style="text-shadow: 1px 1px 2px rgba(0,0,0,0.8);">The Winery</div>
            </div>
            <div class="mdl-card__supporting-text">
                <p>Located in El Dorado County, CA, <a href="http://www.mastroseriowinery.com/" target="_blank">Mastroserio Winery</a> can be found in the heart of the Fair Play wine region where the terroir is known for its varied microclimates. Dramatic changes in elevation, granitic soils and different exposures create the perfect conditions to produce a variety of high quality grapes.</p>
                <p>Over the last twelve years, winemaker Ruggero Mastroserio has dedicated himself to his craft, perfecting fine examples of many wines including Cabernet Sauvignon, Cabernet Franc and Petite Verdot. These wines, under the Mastroserio/Rugiada name, are known for their finesse, elegance and everlasting flavors.</p>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card mdl-card__page mdl-shadow--2dp">
            <div class="mdl-card__title" style="height: 200px; background: #fff url('../../Content/img/ruggero.jpg') center / cover;">
                <div class="mdl-card__title-text mdl-color-text--white" style="text-shadow: 1px 1px 2px rgba(0,0,0,0.8);">The Winemaker</div>
            </div>
            <div class="mdl-card__supporting-text">
                <p>Ruggero Mastroserio is an accomplished winemaker with extensive experience managing the entire winemaking process. Holding degrees in engineering, geology, and music, he also trained in enology in Italy with Mario Maffi and Mattia Vezzola. Before founding Mastroserio Winery, Ruggero made a name for himself by crafting award-winning wines at Latcham and Granite Springs Wineries, and before that as the CFO of Oliver Vineyards in Somerset. His wines have won hundreds of awards - in both domestic and international competitions.</p>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card mdl-card__page mdl-shadow--2dp">
            <div class="mdl-card__title" style="height: 200px; background: #fff url('../../Content/img/needImage.png') center / cover;">
                <div class="mdl-card__title-text mdl-color-text--white" style="text-shadow: 1px 1px 2px rgba(0,0,0,0.8);">The Wine...</div>
            </div>
            <div class="mdl-card__supporting-text">
                <p>Need story of how we discovered Mastroserio and fell in love with the wine. Also need picture of us drinking wine? Do we have one from the tasting room?</p>
            </div>
        </div>
    </div>
</div>

