                                        
                                        <p>To help us with our wedding planning we'd appreciate your RSVP as soon as possible. There's a ton of information on our website, including a list of accommodations in the Fair Play area. Please use the link below when you're ready to get started. We hope you can make it, and we look forward to hearing from you!</p>
                                        <table border="0" cellpadding="0" cellspacing="12" width="100%">
                                            <tr>
                                                <td align="center">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td bgcolor="#f46e6c" style="padding: 12px 18px 12px 18px; -webkit-border-radius: 3px; border-radius: 3px; background-color: #ff5858" align="center">
                                                                <a href="{1}" style="text-decoration: none; font-size: 18px; color: #ffffff; ">View Invitation & RSVP</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <p>
                                            <strong>
                                                With love,<br />
                                                Lisa and Russ (The Honeys)
                                            </strong>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>