<html>
<body style="font-size:15px; font-family:Calibri, Arial, sans-serif; padding:20px">

    <div style="margin-left:auto; margin-right:auto; max-width:600px; padding:30px">
        <h2>State Public Works Division - Intranet and Support Applications</h2>
        <p>Welcome to the SPWD Intranet and Support Applications website.<p>

        <p>Please click the following link in order to <a href="{0}">verify your email address</a>. This link expires 14 days after this email was generated.</p>
        <p>This message was generated automatically and cannot be replied to. If you experience trouble with the account registration process please <a href="mailto:rcook@admin.nv.gov?subject=HoneyWedding Registration Trouble">email Russell Cook</a>, the analyst responsible for supporting this website.</p>
        <p>
            Thank you,<br />
            State Public Works Division<br />
            Department of Administration
        </p>
    </div>
</body>
</html>