<html>
<body style="font-size:15px; font-family:Calibri, Arial, sans-serif; padding:20px">

    <div style="margin-left:auto; margin-right:auto; max-width:600px; padding:30px">
        <h2>You're Invited to The Honeys' Wedding!</h2>
        <p>Welcome to HoneyWedding, the Department of Administration's intranet and support applications website.<p>

        <p>This email represents the first step of the account registration process. Please click the following link in order to <a href="{0}">verify your email address</a> (this link expires 14 days after this email was generated), then log in to the website using the username and randomly-generated password below:</p>
        <p>
            Username: {1}<br />
            Password: {2}<br />
            <small>[Hint: you can copy and paste the password]</small>
        </p>
        <p><strong>PLEASE NOTE: </strong>For security purposes the HoneyWedding website is located behind Nevada's Silvernet firewall and can only be accessed from inside of the state's computer network (or via VPN connection).</p>
        <p>After logging in you will recieve a prompt to change your password. The password requirements for HoneyWedding are identical to those for the NEATS application: a minimum of 8 characters, with at least one upper-case character, one lower-case character, and one special character. Once you've completed the registration process you will be able to change your password at any time, and if you forget your password you can have it reset using the link on the the login screen.</p>
        <p>This message was generated automatically and cannot be replied to. If you experience trouble with the account registration process please <a href="mailto:rcook@admin.nv.gov?subject=HoneyWedding Registration Trouble">email Russell Cook</a>, the analyst responsible for supporting the HoneyWedding website.</p>
        <p>
            Thank you,<br />
            Department of Administration<br />
            Director's Office
        </p>
    </div>
</body>
</html>