<html>


<body style="font-family: Helvetica, Arial, sans-serif;
color: rgb(109, 76, 65);
    background-color: rgb(188, 170, 164);
    background-image: repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 30px),
            repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 30px);
    background-size: 32px 64px;">

    <table border="0" cellpadding="16" cellspacing="0" width="100%">
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px; background-color: rgb(239, 235, 233); -webkit-border-radius: 2px; border-radius: 2px;">
                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <img alt="Thank you for your RSVP" src="http://thehoneyswedding.net/Content/img/rsvp_confirmation_email_header.jpg" width="100%" style="margin: 0; border: 0; padding: 0; display: block;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellpadding="24" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <h1>{0}</h1>
                                        <h3>{1}, please confirm that the following information is accurate:</h3>
                                        <table border="0" cellpadding="6" cellspacing="0" width="100%">
                                            {2}
                                        </table>

                                        <p>{3}</p>
                                        {4}
                                        <p>
                                            <strong>
                                                With love,<br />
                                                Lisa and Russ (The Honeys)
                                            </strong>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>