<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>thehoneyswedding.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>thehoneyswedding.net</MSDeployServiceURL>
    <DeployIisAppPath>thehoneyswedding.net</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>thehoney_dingnet_adm</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HoneyWedding_SQLServerExpress" Order="1" Enabled="True">
          <Destination Path="Data Source=dallaswin200.arvixeshared.com;Initial Catalog=thehoneyswedding_prod;User ID=russ.cook;Password=Skoofer_78" Name="Data Source=dallaswin200.arvixeshared.com;Initial Catalog=thehoneyswedding_prod;uid=russ.cook;password=Skoofer_78;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HoneyWedding.DAL.ApplicationDbContext, HoneyWedding" MigrationConfiguration="HoneyWedding.Migrations.Configuration, HoneyWedding" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HoneyWedding_SQLServerExpress-Web.config Connection String">
      <ParameterValue>Data Source=dallaswin200.arvixeshared.com;Initial Catalog=thehoneyswedding_prod;uid=russ.cook;password=Skoofer_78;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>